<div class="col-xs-12 col-md-6 col-md-offset-3">
    <h2 class="page-header">{{ 'user.name' | translate }}: {{ user.first_name }} {{user.last_name}}</h2>

    <ul class="list-group">
        <li class="list-group-item">{{ 'user.email' | translate }}: <strong>{{ user.email }}</strong></li>
        <li class="list-group-item">{{ 'user.birthday' | translate }}: <strong>{{ user.birth_date }}</strong></li>
        <li class="list-group-item">{{ 'user.gender.title' | translate }}: <strong>{{ dictionaryService.getGenderLabel(dictionaries.gender, user.gender_id)|translate }}</strong></li>
        <li class="list-group-item">{{ 'user.purpose' | translate }}: <strong>{{ getPurposeLabel(user.purpose_id) }}</strong></li>
        <li class="list-group-item">{{ 'user.role' | translate }}: <strong>{{ dictionaryService.getRoleLabel(dictionaries.role, user.role_id)|translate }}</strong></li>
    </ul>

    <div class="form-action-buttons">
        <a class="btn btn-danger" routerLink="/users">{{ 'global.cancel' | translate }}</a>

        <a class="btn btn-info" routerLink="/user/edit/{{user.sub}}">{{ 'global.edit' | translate }}</a>
    </div>
</div>